.wrapper{
    background-color: #FFFFFF;
    -khtml-opacity: .50;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: 0.93;
    position: relative;
    margin: auto;
    width: 80%;
    height: 600px;
    text-align: center;
    top: 4%;
}
.errorMessage{
    color:red;
}
.formContent{
    padding: 10px;
    margin-top: 4%;
    margin: auto;
    float: right;
    width: 100%;
}


.loginHeader{

    font-size: 32px;
    font-family: 'CachetStd-Medium';
    color: #a9a9a9;
    position: relative;
    top: 7%;
    margin-bottom: 5%;
}



/*login form*/


.form {
  
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  
}
.form input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #991F41;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0F3356;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #004579;
  text-decoration: none;
}

