<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<header>
    <nav class="navbar navbar-expand-sm border-bottom mb-2" >
      <a class="navbar-brand" [routerLink]='["/home"]' ><img src="assets/img/logo2.png "></a>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-2">
          <li class="nav-item">
            <a class="nav-link " ><u>Login</u></a>
          </li>
          <li class="nav-item">
                <p class="nav-link">|</p>
            </li> 
          <li class="nav-item">
            <a class="nav-link text-white"  ><u>Sign up</u></a>
          </li>
  
        </ul>
      </div>
    </nav>
</header>

<div class="wrapper" >

<p id = "registerHeading">Sign up in seconds to start shopping online, and 
                          get groceries and more delivered to your door</p>
<form  method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()" >

      <!-- Username -->
      <div class="controls">
        <label class="control-label"  for="username">Username</label> 
        <input id="username" formControlName="username" type="text" class=" input-xlarge form-control" required autofocus>
        <div *ngIf="username.touched && username.errors" class="errorMessage">
            <span *ngIf="username.hasError('required')">UserName is required.</span>
            <span *ngIf="username.hasError('maxlength')">Only 10 characters allowed for UserName.</span>
            <span *ngIf="username.hasError('minlength')">Atleast 5 characters needed for UserName.</span>
        </div>
      </div>

        <!-- Firstname -->
      <div class="controls">
          <label class="control-label"  for="firstname">First Name</label>
          <input id="firstname" formControlName="firstname" type="text" class=" input-xlarge form-control" required >

      </div>

         <!-- Surname -->
         <div class="controls">
            <label class="control-label"  for="surname">First Name</label>
            <input id="surname" formControlName="surname" type="text" class=" input-xlarge form-control" required >
  
        </div>
      
    
      <!-- E-mail -->  
    <div class="controls">
       <label class="control-label" for="email">E-mail</label>
        <input id="email" formControlName="email" type="email" class=" input-xlarge form-control" required>
        <div *ngIf="email.touched && email.errors" class="errorMessage">
            <span *ngIf="email.hasError('required')">Email is required.</span>
            <span *ngIf="email.hasError('email')">Please provide valid email.</span>
        </div> 
    </div>

    <!--Phone -->
    <div class="controls">
        <label class="control-label"  for="phone">Contact No</label>
        <input id="phone" formControlName="phone" type="text" class=" input-xlarge form-control" required >

    </div>
  

      <!-- Password-->
      <div class="controls">
          <label class="control-label" for="password">Password</label>
          <input id="password" formControlName="password" type="password" class=" input-xlarge form-control" required>
          <div *ngIf="password.touched && password.errors" class="errorMessage">
              <span *ngIf="password.hasError('required')">Password is required.</span>
              <span *ngIf="password.hasError('maxlength')">Only 10 characters allowed for password.</span>
              <span *ngIf="password.hasError('minlength')">Atleast 5 characters needed for password.</span>
          </div>
      </div>

      <!-- Password Confirm -->
    <div class="controls">
          <label class="control-label"  for="cpassword">Password (Confirm)</label>
          <input id="cpassword" formControlName="cpassword" type="password" class=" input-xlarge form-control" required>
          <div *ngIf="cpassword.touched && cpassword.errors" class="errorMessage">
              <span *ngIf="cpassword.hasError('required')">Confirm Password is required.</span>
              <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match.</span>
          </div>
    </div>
 
    
      <!-- Button -->
      <div class="controls">
        <button id="register" type="submit"  class="btn btn-success">Register</button>
      </div>
    
</form>
</div>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Registration</h4>
      <button type="button" class="close pull-right" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active">{{modalMessage}}</p>
      <ul class="list-group" *ngFor="let erro of errorList">
          <li class="list-group-item">{{erro}}</li>
      </ul>
  </div>
</ng-template>
